/* Declaración de fuente y colores */

@font-face {
    font-family: 'AbrilFatface';
    src: local('AbrilFatface'), url(./assets/AbrilFatface-Regular.ttf) format('truetype');
}

html, body, #root {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'AbrilFatface';
}

/* Esta clase la cree para compensar la diferencia de fuentes en el proto */

.use-roboto {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --azul-claro-2: #67A0BE;
    --azul-claro: rgba(48, 63, 159, 92);
    --azul-oscuro-1: #1E2D3E;
    --azul-oscuro-2: #263445;
    --azul-principal: #303F9F;
    --gris-claro: #C0CCDA;
    --gris-medio: #8492A6;
    --gris-oscuro: #47525E;
    --red: #F95F62!important;
}

.adjust-scroll-for-bottom {
    height: 8vh;
}

.bg-azul-claro {
    background-color: var(--azul-claro)!important;
}
.bg-azul-claro-2 {
    background-color: var(--azul-claro-2)!important;
}
.bg-azul-oscuro-1 {
    background-color: var(--azul-oscuro-1)!important;
}

.bg-azul-oscuro-2 {
    background-color: var(--azul-oscuro-2);
}

.bg-azul-principal {
    background-color: var(--azul-principal);
}

.bg-gris-claro {
    background-color: var(--gris-claro);
}

.bg-gris-medio {
    background-color: var(--gris-medio);
}

.bg-gris-oscuro {
    background-color: var(--gris-oscuro);
}

.bg-black {
    background-color: black;
    color: white;
}

.color-gris-oscuro {
    color: var(--gris-oscuro);
}

.formulario-input {
    border-width: 0.2em;
    border-color: var(--gris-medio);
    border-radius: 0;
}

.barra-total {
    transform: translateY(-5vh);
}